NEXT_PUBLIC_DOTCMS_HOST=http://localhost:8082
NEXT_PUBLIC_DOTCMS_AUTH_TOKEN=
# NEXT_PUBLIC_DOTCMS_SITE_ID=  # Optional: defaults to the default site
NEXT_PUBLIC_DOTCMS_MODE=production
NEXT_PUBLIC_SITE_URL=http://localhost:3000
